[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
tensorflow = "==2.14.0"
requests = "*"
pillow = "*"
numpy = "<2"

[dev-packages]

[requires]
python_version = "3.11"
